*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}

body {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0,0,0,.37);
    background: #333;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.quote {
    height: 35vh;
    font-size: 1.5rem;
    text-align: center;
}
.category{
    margin: 1rem;
}
.author{
    font-size: 1rem;
    font-weight: 100;
    text-align: right;
}
.buttons {

    display:grid;
    grid-template-columns: 1fr;
    margin: 0rem auto;
}

button {
    width: 12rem;
    font-size: 1.1711711rem;
    font-weight: 800;
    border-radius: 37px 0;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0,0,0,.37);
    box-shadow: 2px 2px 2px rgba(0,0,0,.37);
    margin: 1rem auto;
}

button:focus {
 
    outline: none;
}

.timerOFF, .timerON, .showNewBtn {
    padding: .5rem ;
  
    border: none;
    background-color: lightseagreen;
    
    color: white;
}
 
    .showNewBtn {
        border: 2px solid white;
        background-color: transparent;
    }
div.container {
    margin: 25% auto;
    width: 80%;
}   

@media screen and (min-width: 768px){
    .quote {
        height: 30vh;
        font-size: 2rem;
        
    }

    .author, .category{
        font-size: 1.5rem;
    }
    .timerOFF, .timerON, .showNewBtn {
        padding: 1rem;
      
    }
    div.container {
        margin:15% auto;
      
    }

    .buttons{
        grid-template-columns: repeat(3, 1fr);
    }
   
}

@media screen and (min-width:1024px ){
    .quote {
        height: 40vh;
        font-size: 3rem;
    }

    .author, .category {
        font-size: 2rem;
    }

    .container{
        padding: 3rem;
    }


}